@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

/* phan prolife */
.prolife-container {
  /* background:linear-gradient(45deg,#00853e,#50c878); */
  height: 500px;
  /* height:70%; */
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  color: whitesmoke;
}
.prolife-card {
  background: #232628;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin: 0 20px;
}
.card-img {
  width: 120px;
  height: 120px;
  border: 4px solid #f2726a;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(25px);
  transition: 0.5s;
}
.prolife-name {
  margin-top: 35px;
}
.img-ava {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.des-prolife-card {
  color: #f2726a;
}
.prolife-social {
  margin: 25px 0;
}
.prolife-social a {
  color: white;
  margin: 25px 20px;
  font-size: 20px;
}
.prolife-social a:hover {
  color: #f2726a;
}
.btn-contact {
  width: 150px;
  height: 40px;
  border: 2px solid #f2726a;
  background: transparent;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.btn-contact:hover {
  background: #f2726a;
}

.card-img:hover {
  width: 100%;
  height: 100%;
  border-radius: unset;
  transform: unset;
  border: none;
}
/* phan login  */

.login-container {
  /* height:80%;  */
  height: 500px;
  width: 100%;
  background: #6495ed;
  display: flex;
  align-items: center;
}
.form-box {
  width: 360px;
  height: 450px;
  position: relative;
  margin: 0 auto;
  background: white;
  padding: 5px;
  overflow: hidden;
  border-radius: 3px;
}
.button-change-login {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 20px 9px #ff61241f;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  outline: none;
  position: relative;
  background: transparent;
}

#btn-change {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 100px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  /* margin-left:20px; */
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  outline: none;
  border-radius: 30px;
  border: none;
  margin-top: 25px;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}
hr {
  margin-top: 10px;
}
.another-sign-option {
  text-align: center;
}
#gg-signin {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
#fb-signin {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
/* phần footer */
footer {
  width: 100%;
  height:250px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  display: flex;
  justify-content: center;
}
.footer-row {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}
.footer-row li {
  list-style: none;
  padding: 0 10px;
}
.footer-menu {
  display: flex;
}
.footer-icons {
  text-align: center;
  margin-bottom: 20px;
}
.footer-icons .fab {
  margin: 0 10px;
  font-size: 40px;
}
.footer-copyright {
  margin-top: 10px;
  text-align: center;
}
/* phần header */
header{
  width: 100%;
  height: 100px;
    background:#24252A;
   display:flex;
   justify-content:flex-end;
   align-items:center;
   padding:30px 20px;
}
header h2{
  color: #edf0f1;
  cursor: pointer;
  margin-right: auto;
  
}
.nav-links{
  list-style:none;
}
.nav-links li{
  color: #edf0f1;
  display:inline-block;
  padding:0 20px;
  cursor: pointer;
}
.nav-links li a{
  transition:all 0.3s ease 0s;
}
.nav-links li a:hover{
  color:#0088a9;
}
header button {
  margin-left: 20px;
  
  padding:9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
   transition:all 0.3s ease 0s;
   color: #edf0f1;
}
header button:hover{
  background-color: rgba(0,136,169,0.8);
}

