@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lilita One', cursive; */
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.container1 {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(217, 85, 80);
  padding: 0 12px;
  transition: 0.5s ease-in-out 0s;
  /* overflow: scroll; */
}
/* phân side bar */
.sidebar-container {
 position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}
.side-bar {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 70%;
  transition: all 0.5s ease;
}

.side-bar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  background: #063146;
  user-select: none;
  /* margin-left: 35px; */
  padding-left: 35px;
}
.side-bar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
  background: #042331;
}
.side-bar ul li:hover a {
  padding-left: 50px;
}
.side-bar ul a i {
  margin-right: 16px;
}
#check {
  display: none;
}
#btn-open-sidebars,
#btn-close-sidebars {
  position: absolute;
  cursor: pointer;

  background-color: white;
}
#btn-open-sidebars {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: rgb(217, 85, 80);
  border-radius: 3px;
  padding: 6px 12px;
  transition: all 0.5s;
}
#btn-close-sidebars {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: rgb(217, 85, 80);
  padding: 4px 9px;
  transition: all 0.5s ease;
  border-radius: 3px;
}
#check:checked ~ .side-bar {
  left: 0;
}
#check:checked ~ label #btn-open-sidebars {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #btn-close-sidebars {
  left: 195px;
}
/* phần header thanh nav b*/
header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  max-width: 620px;
  align-items: center;
  margin: 0 auto;
}
.tick-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
header h1 a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.nav-button {
  display: flex;
}
.nav-button li {
  list-style: none;
}
.nav-button li button {
  border: none;
  width: 90px;
  height: 35px;
  padding: 8px 12px;
  color: white;
  background: none rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.nav-button li button i {
  width: 16px;
}
.fa-cog,
.fa-sign-out-alt {
  margin-right: 1px;
}
.hr-header {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 40px;
}
/* phan timer form */
.timer-form {
  background-color: rgba(255, 255, 255, 0.1);
  width: 480px;
  height: 310px;
  margin: 0 auto;
}
.time-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-time-btn {
  border: none;
  margin: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.time-string {
  font-size: 120px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.btn-pause button {
  width: 140px;
  height: 55px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
}
.btn-pause {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#time-des {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: white;
  font-weight: 100;
  overflow-wrap: break-word;
}
/* to do list */
.todo-list {
  width: 24rem;
  height: 24rem;
  border: none;
  /* margin-top: 20px; */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  /* margin-bottom: 20px; */
  overflow: auto;
}
.todo-list h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
}
#todo-input {
  outline: none;
  height: 40px;
  padding-left: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.contain-input {
  width: 100%;
  padding-top: 20px;
}
#todo-add-btn {
  height: 40px;
  width: 15%;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
#todo-list-ul {
  list-style: none;
}
#todo-list-ul li {
  font-size: 20px;
  width: 80%;
  height: 50px;
  display: flex;
  padding: 12px;
  margin: 20px 0;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  list-style: none;
  background-color: white;
  overflow: auto;
}
.fa-trash {
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin-top: 38px;
  margin-right: 25px;
}
.done {
  text-decoration: line-through;
}
/* container 2 chứa todolist */
.container2 {
  width: 100%;
  height: 100vh;
  background-color: green;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  /* align-items:center; */
}
.todo-list-description {
  max-width: 620px;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.todo-list-description h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}
.todo-list-description p {
  margin-top: 24px;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.625;
}
/* container 3 giới thiệu về app */
.container3 {
  width: 100%;
  max-width: 620px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.container3 h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 34px;
}
.pomodoro-description {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 12px;
}
.pomodoro-description h2 {
  margin-top: 50px;
}
.pomodoro-description p {
  font-size: 18px;
  line-height: 1.6em;
  color: hsl(357, 12%, 42%);
  margin: 18px 0;
}
.pomodoro-description h2:after {
  content: "";
  display: block;
  /* margin: 0 auto; */
  width: 24px;
  padding-top: 8px;
  border-bottom: 4px solid #f05b56;
  opacity: 0.6;
  border-radius: 2px;
}
.pomodoro-description p a {
  color: rgb(217 85 80);
  font-weight: bold;
}
.des3 li {
  font-size: 18px;
  line-height: 1.6em;
  color: hsl(357, 12%, 42%);
  margin: 18px 0;
}
.des3 li span {
  font-weight: bold;
}

/* phan prolife */
.container4 {
   background-image: linear-gradient(#4568DC, #B06AB3);
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  font-family: "Poppins";
  color: whitesmoke;
  flex-direction: column;
  
}
.container4 h1 {
  color: black;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 34px;
  text-align: center;
}
.prolife-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prolife-card {
  background: #232628;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin: 0 20px;
}
.card-img {
  width: 120px;
  height: 120px;
  border: 4px solid #f2726a;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(25px);
  transition: 0.5s;
}
.prolife-name {
  margin-top: 35px;
}
.img-ava {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.des-prolife-card {
  color: #f2726a;
}
.prolife-social {
  margin: 25px 0;
}
.prolife-social a {
  color: white;
  margin: 25px 20px;
  font-size: 20px;
}
.prolife-social a:hover {
  color: #f2726a;
}
.btn-contact {
  width: 150px;
  height: 40px;
  border: 2px solid #f2726a;
  background: transparent;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.btn-contact:hover {
  background: #f2726a;
}

.card-img:hover {
  width: 100%;
  height: 100%;
  border-radius: unset;
  transform: unset;
  border: none;
}
